{% load static %}
<footer>
    <div class="wavesdiv" style="background-color:rgba(0,0,0,0)">
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
            <!-- 定义一个defs元素，用于存储各种元素的定义，可以被其他元素引用。
                在defs元素中定义了一个名为“gentle-wave”的路径元素，用于描述波浪形状
                改路径秒苏联一系列二次贝塞尔曲线的控制点坐标，从而实现了波浪形状 -->
            <defs>
                <path id="gentle-wave"
                      d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
            </defs>
            <!-- 定义一个g元素，用于讲多个图形组合在一期，并应用一些样式
                在g元素中使用use元素多次引用了赚钱定义的名为gentle-wave的路径元素
                通过设置不同的x，y坐标和填充颜色，实现了波浪形状和渐变效果 -->
            <g class="parallax">
                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7)"></use>
                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)"></use>
                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)"></use>
                <use xlink:href="#gentle-wave" x="48" y="7" fill="rgba(255,255,255,0.1)"></use>
            </g>

        </svg>
    </div>
    <div class="d-flex py-3 flex-md-row flex-column-reverse">
        <div class="container">
            <p class="text-white">
                <a href="" style="font-weight: 900;" class="fs-5 text-primary text-decoration-none">Skyler Software
                    Library </a>
                <i class="bi bi-arrow-right-square-fill text-primary"></i>
                <span style="font-weight:500;color: #069dad;">Share your creative ideas and favorite apps</span>
            </p>
            <p id="footP" class="mt-2" style="color: #069dad;"></p>
            <script type="text/javascript">
                $(function () {
                    const p = document.getElementById('footP');
                    p.innerHTML = 'Copyright <i class="bi bi-c-square"></i> 2023 ' + location.hostname + ' All rights reserved.';
                })
            </script>
            <div class="footer-about">
                <a href="javascript:showCopyright()" class="btn btn-outline-secondary btn-sm text-uppercase"><i
                        class="bi bi-caret-right-fill"></i>copyright</a>
                {% if user.is_authenticated %}
                    <a href="javascript:showContact()"
                       class="text-nowrap btn btn-outline-secondary btn-sm text-uppercase"><i
                            class="bi bi-caret-right-fill"></i>联系我们</a>
                {% else %}
                    <a href="{% url 'users:login' %}"
                       class="text-nowrap btn btn-outline-secondary btn-sm text-uppercase"><i
                            class="bi bi-caret-right-fill"></i>联系我们</a>
                {% endif %}
                <a href="{% url 'blog:articleHelp' %}" class="btn btn-outline-secondary btn-sm text-uppercase"><i
                        class="bi bi-caret-right-fill"></i>帮助</a>
                <a href="https://github.com/Skyler-Sun/Share_And_Talk" class="btn btn-outline-secondary btn-sm text-uppercase"><i
                        class="bi bi-caret-right-fill"></i>github</a>
                <script>
                    function showContact() {
                        var contact = document.getElementById('contactModal');
                        contact = new bootstrap.Modal(contact);
                        contact.show();
                    }

                    function showCopyright() {
                        var copyright = document.getElementById('copyrightModal');
                        copyright = new bootstrap.Modal(copyright);
                        copyright.show();
                    }
                </script>
            </div>
        </div>
        <div class="canva-img text-center" style="isolation: isolate;">
            <img alt="底部图片" src="{% static 'blog/images/image/footer.png' %}">
        </div>
    </div>
</footer>

<!-- back to top -->
<button id="topBtn">
    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-caret-up-fill"
         viewBox="0 0 16 16">
        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"></path>
    </svg>
</button>
<style>
    #topBtn {
        display: block;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        border-radius: 50%;
        border: 0;
        outline: none;
        background-color: #2196f3;
        color: white;
        cursor: pointer;
        padding: 15px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        opacity: .6;
        transition-duration: .3s;
    }

    #topBtn:hover {
        background-color: #128bf2;
        opacity: 1;
    }

    #topBtn:active {
        background-color: #0b5ab9;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
        opacity: 1;
    }
</style>
<script>
    // const topBtn = document.getElementById('topBtn')
    // var topBtnheight = getComputedStyle(topBtn).height
    // topBtn.style.width = topBtnheight

    window.onscroll = function () {
        topBtn.addEventListener("click", function () {
            document.documentElement.scrollTop = 0;
        })
    }
</script>

<script type="text/javascript" src="{% static 'blog/js/processbar.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/canvas.js' %}"></script>
<script type="text/javascript" src="{% static 'blog/js/share.js' %}"></script>
<style>
    .pagination .page-link {
        padding: 9px 18px;
    }
</style>

{% comment %} debugger {% endcomment %}
{% if not user.is_authenticated %}
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool@latest' disable-menu='false'
            url='{% url 'blog:notFound' %}'></script>
{% elif user.is_staff == False %}
    <script disable-devtool-auto src='https://cdn.jsdelivr.net/npm/disable-devtool@latest' disable-menu='false'
            url='{% url 'blog:notFound' %}'></script>
{% endif %}
  