<!-- 灯笼 -->
<div class="container-lantern1 d-none d-lg-block z-3">
    <span class="head-line"></span>
    <div class="center">
        <div class="center-line">
            <span>健康</span>
        </div>
        <span class="footer-line">
      </span>
    </div>
</div>

<div class="container-lantern2 d-none d-lg-block z-3">
    <span class="head-line"></span>
    <div class="center">
        <div class="center-line">
            <span>快乐</span>
        </div>
        <span class="footer-line">
      </span>
    </div>
</div>