{% load static %}
<nav class="py-md-0 py-1 navbar navbar-expand-lg fixed-top navbar-dark"
     style="background-color: rgba(52, 152, 219, 0.5);">
    <div class="container-fluid">
        <a class="navbar-brand fs-1 py-0 fw-bolder" href="{% url 'blog:index' %}" style="font-family:Cookie;">Skyler</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!--<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-aside" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav text-white ms-auto">
                <li class="nav-item dropdown dropdown-hover dropdown-Hover">
                    <a class="nav-link dropdown-toggle" data-target="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        一级分类
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-hover" style="background: rgba(40, 42, 44, .6);font-size: medium;">
                        {% for topmeta in topMetas %}
                            <li><a style="color: white;" class="dropdown-item"
                                   href="{% url 'blog:metas_top' id=topmeta.id pageID=1 %}">{{ topmeta.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown dropdown-hover dropdown-Hover">
                    <a class="nav-link dropdown-toggle" data-target="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        二级分类
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-hover" style="background: rgba(40, 42, 44, .6);font-size: medium;">
                        {% for secondmeta in secondMetas %}
                            <li><a style="color: white;" class="dropdown-item"
                                   href="{% url 'blog:metas_second' id=secondmeta.id pageID=1 %}">{{ secondmeta.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="nav-item dropdown dropdown-hover dropdown-Hover">
                    <a class="nav-link dropdown-toggle" data-target="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        软件分类
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-hover" style="background: rgba(40, 42, 44, .6);font-size: medium;">
                        {% for softmeta in softMetas %}
                            <li><a style="color: white;" class="dropdown-item"
                                   href="{% url 'blog:metas_software' id=softmeta.id pageID=1 %}">{{ softmeta.text }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                <style>
                    @media (min-width: 991.98px) {
                        .dropdown-Hover:hover .dropdown-menu-hover {
                            display: block;
                            animation: slideDown .2s ease-in-out;
                        }
                    }

                    @keyframes slideDown {
                        0% {
                            transform: translateY(-10px);
                            opacity: 0;
                        }
                        100% {
                            transform: translateY(0);
                            opacity: 1;
                        }
                    }
                </style>
                {% if user.is_authenticated %}
                    <style>
                        .navbar-nav > li {
                            margin-top: 5px;
                        }

                        #info-user .dropdown-item {
                            color: #fff;
                        }

                    </style>
                    <div class="nav-item dropdown" id="info-user">
                        <a  id="userAvatar" class="nav-link" href="javascript:" role="button" aria-expanded="false">
                         <img src="{{ user.avatar }}" alt="用户头像" class="user-avatar" style="border-radius: 50%;">
                        </a>
                    </div>
                {% else %}
                    <li class="nav-item mt-1">
                        <div class="btn-group btn-group-sm d-md-block" role="group" aria-label="Basic example" id="log">
                            <a href="{% url 'users:login' %}" type="button"
                               class="btn btn-outline-primary bg-opacity-75" style="color: white;">Login</a>
                            <a href="{% url 'users:register' %}" type="button" class="btn btn-primary bg-opacity-75">Sign-up</a>
                        </div>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>

{% include 'blog/components/offcanvas.html' %}